html,
body {
    height: 100%;
    margin: 0;
}

#courseFrame {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.course-iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}